@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container ul {
  list-style-type: none;
}

body {
  background-color: #e5e5e5;
  background-repeat: no-repeat;
  width: 100%;
  margin: auto;
  font-family: 'Poppins', sans-serif;
}

/* nav */
nav {
  background-color: #fff;
  max-height: 48px;
  position: relative;
}

.menu-items {
  display: none;
}

.nav-menu.active {
  display: block;
}

#bdy-bg {
  position: absolute;
  width: 100%;
}

.home {
  background-color: #fff;
  border-bottom-left-radius: 90px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
}

.toogle-button {
  display: flex;
  padding: 8px;
  margin-right: 24px;
}

.my-logo {
  padding: 5px 5px;
  margin-left: 24px;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.container2 {
  margin-top: 114px;
}

.hero-text h2 {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.primary-text2 {
  max-height: 9rem;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.container3 {
  display: flex;
  flex-direction: column;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
  margin-bottom: 168px;
}

.container3 ul {
  list-style: none;
  display: flex;
  justify-content: start;
}

.container3 h5 {
  margin-top: 12px;
}

.container3 li {
  margin-right: 12px;
  margin-top: 16px;
  margin-bottom: 12px;
}

.my-logo a {
  height: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #6070ff;
  text-decoration: none;
}

.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.project1 img {
  border-radius: 8px;
  width: 100%;
}

.card h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
  margin-top: 12px;
}

.client {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  margin-top: 18px;
  display: flex;
}

.client ul {
  display: flex;
  min-width: 300px;
}

.client li {
  justify-content: space-around;
  margin-right: 10px;
  margin-left: 25px;
}

.c-primary-text {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  margin-top: 24px;
  margin-bottom: 24px;
}

.tags p {
  height: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 203px;
  height: 24px;
  order: 2;
}

.tags div {
  background: #ebebff;
  border-radius: 8px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
}

.see-proj button {
  padding: 12px;
  width: 124px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: transparent;
  font-weight: 500;
  font-size: 17px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  margin-top: 24px;
  margin-bottom: 24px;
}

.about {
  background-color: #fff;
  margin-top: 140px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 80px;
}

.about-primary-text {
  margin-top: 114px;
  width: 327px;
  height: 101px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.basic-intro {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: 20px;
}

.resume {
  margin-bottom: 48px;
  margin-top: 1px;
}

.resume button {
  align-items: center;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: transparent;
  padding: 12px;
}

.lan-txt {
  left: 12px;
  right: 78px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  margin-bottom: 24px;
  color: #000;
}

.lan-container ul {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #253858;
  list-style: none;
}

.inner-list {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  padding: 12px;
}

.inner-list li {
  background: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.lan-container img {
  margin-left: 16px;
  display: flex;
  margin-right: 16px;
}

.topics {
  box-shadow: 0 4px 2px -2px #dfe1e6;
  background: transparent;
  display: flex;
  min-height: 72px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}

.topics img {
  transform: rotate(-90deg);
}

.work {
  row-gap: 88px;
  margin-top: 114px;
  background: #e5e5e5;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  vertical-align: top;
}

.home,
.work,
.about {
  padding: 24px;
}

.wrapper {
  width: 343px;
  height: 713px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("images/contact-form-background-shapes.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.contact-header {
  color: #fff;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-top: 103px;
}

.contact-info {
  gap: 17px;
}

.menu-items li a {
  transition: 0.7s ease;
}

.menu-items li a:hover {
  color: dodgerblue;
}

.contact-header p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin-top: 12px;
  margin-left: 24px;
  margin-right: 24px;
}

.form input,
textarea {
  max-width: 327px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin: 9px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  padding: 12px;
  min-width: 300px;
}

.form input {
  max-height: 40px;
}

.inp-form {
  justify-content: space-around;
  text-align: center;
  font-size: 18px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 327px;
  height: 48px;
}

textarea {
  height: 170px;
}

.btncontact {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  width: 140px;
  height: 48px;
  left: 24px;
  top: 5317px;
  background: #fff;
  border-radius: 8px;
}

.wrapper .wrapper-sub-head {
  margin-top: -120px;
  width: 100%;
  padding-left: 1em;
}

.hidden {
  display: none;
}

.contacts-section {
  border-top-left-radius: 80px;
  background: #6070ff;
  max-width: 100%;
}

.wrapper .wrapper-btns {
  display: flex;
  justify-content: start;
}

.work-image {
  margin-top: -50px;
  width: 311px;
  height: 220px;
}

.wrapper .wrapper-text .long-paragraph {
  font-size: 15px;
  color: var(--paragraph);
  text-align: justify;
  width: 100%;
  height: 160px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  /* or 160% */
}

.overlay .wrapper {
  position: relative;
  width: 314px;
  height: 714px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 5px 30px rgb(0 0 0 / 30%);
  grid-template-rows: 2fr 2fr 2fr 2fr 2fr 1fr;
  box-sizing: border-box;
  align-items: center;
}

.sub-btn {
  height: 48px;
  top: 5317px;
  width: 140px;
  border: 3px solid white;
  border-radius: 8px;
  background: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #6070ff;
  align-self: start;
  margin-top: 13px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px;
  height: 100%;
}

.form .sub-btn {
  margin: 9px 13px;
}

button:hover {
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  background: #6070ff;
  color: white;
}

button:active {
  background: #2230d2;
  color: white;
}

.sec {
  background-color: #fff;
}

.background-style {
  background: url("./images/co.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  background-color: #6070ff;
  border-radius: 90px 0 0 0;
}

.contact-title {
  width: 327px;
  height: 102px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #fff;
  margin: 10px 70px;
}

.p-contact {
  margin: 10px 70px;
  width: 327px;
  height: 102px;
  left: 24px;
  top: 4802px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #2230d2;
}

.hamburger {
  display: block;
  margin-right: 2rem;
}

.nav-item {
  margin: 16px 0;
}

.menu-items.active {
  left: 0;
}

#overflow {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 70;
  background: #6070ff;
}

@media only screen and (min-width: 800px) {
  .overlay .wrapper {
    margin-top: 40px;
    position: relative;
    width: 1156px;
    height: 1163px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 5px 30px rgb(0 0 0 / 30%);
    display: grid;
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr 1fr;
    box-sizing: border-box;
    align-items: center;
  }

  .hidden {
    display: none;
  }

  body {
    width: 100%;
  }

  .menu-items {
    display: flex;
    list-style-type: none;
    gap: 32px;
    margin-top: 15px;
    margin-left: 50%;
    margin-right: 3%;
  }

  .menu-items li a {
    text-decoration: none;
    justify-content: space-between;
    color: #344563;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  /* containers */
  .container2,
  .container3 {
    display: flex;
    flex-direction: column;
    max-width: 64%;
    margin-right: 260px;
    margin-left: 260px;
  }

  .hero-text h2 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
  }

  .hero-text {
    max-height: 80%;
  }

  .primary-text2 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    margin-top: 12px;
  }

  .container3 {
    margin-top: 12px;
    margin-bottom: 300px;
  }

  .card {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 22px;
    padding: 24px;
    margin-right: 142px;
    margin-left: 142px;
    margin-top: 142px;
  }

  .project1 img {
    min-width: 34rem;
    min-height: 28rem;
    left: 24px;
    top: 24px;
  }

  .myself {
    margin: 142px;
    display: flex;
  }

  .self-info {
    display: flex;
    flex-direction: column;
    padding: 1px;
    gap: 24px;
    align-items: flex-start;
    max-height: 392px;
    max-width: 447px;
    margin-right: 25px;
  }

  .about-primary-text {
    margin-top: 1px;
  }

  .inner-list {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .contact-header {
    max-width: 36rem;
  }

  .sub-btn {
    align-self: center;
    margin-bottom: 127px;
  }

  .form .sub-btn {
    margin: 1px;
  }

  .hambuger {
    display: none;
    margin-right: 14px;
    position: sticky;
  }

  .inner-list li {
    max-width: 122px;
    max-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #cont-2 {
    margin-left: 1px;
    margin-bottom: 48px;
  }

  .my-logo {
    margin-top: 15px;
  }

  .background-style {
    background: url("./images/co.png");
    border: solid rebeccapurple;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    background-color: #6070ff;
    border-radius: 90px 0 0 0;
  }

  .contact-form {
    width: 500px;
    margin-bottom: 20px;
    background: none;
  }

  .form {
    width: 550px;
    height: 273px;
    padding: 0;
    align-items: center;
  }

  input {
    width: 500px;
  }

  .text-area {
    width: 500px;
  }

  .about-me .content2 {
    align-items: center;
    margin-left: 60px;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translate3d(0, 50px, 0);
    }

    50%,
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}

@media (max-width: 768px) {
  .wrapper-text .long-paragraph {
    font-size: 10px !important;
  }

  .hidden {
    display: none;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    background-color: #6070ff;
    height: 100vh;
    width: 100%;
    padding: 3rem;
    transition: 0.5s;
    filter: drop-shadow(20px);
    opacity: 0.95;
  }

  .nav-item {
    z-index: 99;
  }

  .hambuger {
    margin-right: 14px;
  }

  .nav-menu .nav-link {
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .hambuger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hambuger.active .bar:nth-child(1) {
    transform: rotate(45deg) translateY(11px);
    background-color: #fff;
  }

  .hambuger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-11px);
    background-color: #fff;
  }

  .nav-menu.active {
    left: 0;
  }

  .bar.active {
    left: 0;
  }

  #bdy-bg {
    z-index: 1;
  }
}

.wrapper-head h2 {
  font-size: 25px;
}

@media only screen and (min-width: 768px) {
  .work-image {
    display: none;
  }

  .work-image-large {
    display: flex;
    margin: 1%;
  }

  .lan-container img {
    margin-left: 16px;
    display: flex;
    margin-right: 16px;
  }

  .work-image-large img {
    width: 100%;
    transition: all 0.5s ease;
  }

  .work-image-large img:hover {
    transform: scale(1.09);
  }

  .ln span {
    display: flex;
    justify-content: space-between;
  }

  .work-details {
    width: 50%;
  }

  .work-details h2 {
    width: 80%;
  }

  .work-description {
    width: 90%;
  }

  .button-margin {
    display: flex;
    justify-content: center;
    transition: all 0.5s ease;
  }

  .mdl-fullscreen .mdl-text span {
    margin-right: 10px;
    background: var(--language);
    border-radius: 10px;
    color: #6070ff;
    padding: 2px 6px;
    font-size: 12px;
  }

  .mdl-fullscreen {
    display: grid;
    height: 110%;
    align-items: end;
  }

  .mdl-fullscreen .work-image-large {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 60%;
    margin: 1% auto;
  }

  .mdl-fullscreen .work-image-large img:hover {
    transform: none;
  }

  .mdl-fullscreen .mdl-text {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    font-size: 13px;
    margin-top: -1.5em;
  }

  .mdl-fullscreen .mdl-text .left-grid {
    color: var(--paragraph);
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 0 0.5em 0 1em;
    font-size: 10px;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

  .container ul {
    list-style-type: none;
  }

  body {
    background-color: #e5e5e5;
    background-repeat: no-repeat;
    width: 100%;
    margin: auto;
    font-family: 'Poppins', sans-serif;
  }

  /* nav */
  nav {
    background-color: #fff;
    max-height: 48px;
    position: relative;
  }

  .menu-items {
    display: none;
  }

  .nav-menu.active {
    display: block;
  }

  #bdy-bg {
    position: absolute;
    width: 100%;
  }

  .home {
    background-color: #fff;
    border-bottom-left-radius: 90px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
  }

  .toogle-button {
    display: flex;
    padding: 8px;
    margin-right: 24px;
  }

  .my-logo {
    padding: 5px 5px;
    margin-left: 24px;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
  }

  .container2 {
    margin-top: 114px;
  }

  .hero-text h2 {
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
  }

  .primary-text2 {
    max-height: 9rem;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .container3 {
    display: flex;
    flex-direction: column;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    color: #7f8cff;
    margin-bottom: 168px;
  }

  .container3 ul {
    list-style: none;
    display: flex;
    justify-content: start;
  }

  .container3 h5 {
    margin-top: 12px;
  }

  .container3 li {
    margin-right: 12px;
    margin-top: 16px;
    margin-bottom: 12px;
  }

  .my-logo a {
    height: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #6070ff;
    text-decoration: none;
  }

  .card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 12px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
  }

  .card h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #172b4d;
    margin-top: 12px;
  }

  .client {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
    margin-top: 18px;
    display: flex;
  }

  .client ul {
    display: flex;
    min-width: 300px;
  }

  .client li {
    justify-content: space-around;
    margin-right: 10px;
    margin-left: 25px;
  }

  .c-primary-text {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 1;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .tags p {
    height: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
  }

  .tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: 203px;
    height: 24px;
    order: 2;
  }

  .tags div {
    background: #ebebff;
    border-radius: 8px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
  }

  .see-proj button {
    padding: 12px;
    width: 124px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    background-color: transparent;
    font-weight: 500;
    font-size: 17px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .about {
    background-color: #fff;
    margin-top: 140px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 80px;
  }

  .about-primary-text {
    margin-top: 114px;
    width: 327px;
    height: 101px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
  }

  .basic-intro {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin-top: 20px;
  }

  .resume {
    margin-bottom: 48px;
    margin-top: 1px;
  }

  .resume button {
    align-items: center;
    height: 48px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    background-color: transparent;
    padding: 12px;
  }

  .lan-txt {
    left: 12px;
    right: 78px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    margin-bottom: 24px;
    color: #000;
  }

  .inner-list {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    padding: 12px;
  }

  .inner-list li {
    background: #f7f7f9;
    border-radius: 8px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
  }

  .topics {
    box-shadow: 0 4px 2px -2px #dfe1e6;
    background: transparent;
    display: flex;
    min-height: 72px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
  }

  .work {
    row-gap: 88px;
    margin-top: 114px;
    background: #e5e5e5;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    vertical-align: top;
  }

  .home,
  .work,
  .about {
    padding: 24px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("images/contact-form-background-shapes.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .contact-header {
    color: #fff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 103px;
  }

  .menu-items li a {
    transition: 0.7s ease;
  }

  .menu-items li a:hover {
    color: dodgerblue;
  }

  .contact-header p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin-top: 12px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .form input,
  textarea {
    max-width: 327px;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    margin: 9px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    padding: 12px;
    min-width: 300px;
  }

  .form input {
    max-height: 40px;
  }

  textarea {
    height: 170px;
  }

  .contacts-section {
    border-top-left-radius: 80px;
    background: #6070ff;
    max-width: 100%;
  }

  .sub-btn {
    height: 48px;
    top: 5317px;
    width: 140px;
    border: 3px solid white;
    border-radius: 8px;
    background: #fff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #6070ff;
    align-self: start;
    margin-top: 13px;
  }

  .form {
    width: 550px;
    padding: 0;
    align-items: center;
  }

  .form .sub-btn {
    margin: 9px 13px;
  }

  button:hover {
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
    background: #6070ff;
    color: white;
  }

  button:active {
    background: #2230d2;
    color: white;
  }

  .sec {
    background-color: #fff;
  }

  /* hamburger */
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #2230d2;
  }

  .hamburger {
    display: block;
    margin-right: 2rem;
  }

  .nav-item {
    margin: 16px 0;
  }

  .menu-items.active {
    left: 0;
  }

  #overflow {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 70;
    background: #6070ff;
  }

  /* Desktop View */
  @media only screen and (min-width: 800px) {
    body {
      width: 100%;
    }

    .overlay {
      background: var(--overlay);
      backdrop-filter: blur(3px);
      justify-content: center;
      height: 1156px;
      width: 1163px;
    }

    /* nav-item */
    .menu-items {
      display: flex;
      list-style-type: none;
      gap: 32px;
      margin-top: 15px;
      margin-left: 50%;
      margin-right: 3%;
    }

    .menu-items li a {
      text-decoration: none;
      justify-content: space-between;
      color: #344563;
      font-size: 15px;
      line-height: 20px;
      font-weight: 500;
    }

    .hamburger {
      display: none;
      cursor: pointer;
    }

    /* containers */
    .container2,
    .container3 {
      display: flex;
      flex-direction: column;
      max-width: 64%;
      margin-right: 260px;
      margin-left: 260px;
    }

    .hero-text h2 {
      font-size: 48px;
      line-height: 60px;
      font-weight: 700;
    }

    .hero-text {
      max-height: 80%;
    }

    .primary-text2 {
      font-size: 20px;
      line-height: 28px;
      font-weight: 400;
      margin-top: 12px;
    }

    .container3 {
      margin-top: 12px;
      margin-bottom: 300px;
    }

    .card {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      gap: 22px;
      padding: 24px;
      margin-right: 142px;
      margin-left: 142px;
      margin-top: 142px;
    }

    .project1 img {
      min-width: 34rem;
      min-height: 28rem;
      left: 24px;
      top: 24px;
    }

    .myself {
      margin: 142px;
      display: flex;
    }

    .self-info {
      display: flex;
      flex-direction: column;
      padding: 1px;
      gap: 24px;
      align-items: flex-start;
      max-height: 392px;
      max-width: 447px;
      margin-right: 25px;
    }

    .about-primary-text {
      margin-top: 1px;
    }

    .inner-list {
      display: flex;
      flex-direction: row;
      gap: 12px;
    }

    .contact-header {
      max-width: 36rem;
    }

    .sub-btn {
      align-self: center;
      margin-bottom: 127px;
    }

    .form .sub-btn {
      margin: 1px;
    }

    .hambuger {
      display: none;
      margin-right: 14px;
      position: sticky;
    }

    .inner-list li {
      max-width: 122px;
      max-height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    #cont-2 {
      margin-left: 1px;
      margin-bottom: 48px;
    }

    .my-logo {
      margin-top: 15px;
    }

    .form input,
    textarea {
      min-width: 447px;
      margin-top: 13px;
    }

    .form input {
      max-height: 48px;
    }

    @keyframes fade-in {
      0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
      }

      50%,
      100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }

  @media (max-width: 768px) {
    .nav-menu {
      position: fixed;
      left: -100%;
      top: 0;
      gap: 0;
      flex-direction: column;
      background-color: #6070ff;
      height: 100vh;
      width: 100%;
      padding: 3rem;
      transition: 0.5s;
      filter: drop-shadow(20px);
      opacity: 0.95;
    }

    .nav-item {
      z-index: 99;
    }

    .hambuger {
      margin-right: 14px;
    }

    .nav-menu .nav-link {
      font-weight: 600;
      font-size: 32px;
      line-height: 44px;
      color: #fff;
    }

    .hambuger.active .bar:nth-child(2) {
      opacity: 0;
    }

    .hambuger.active .bar:nth-child(1) {
      transform: rotate(45deg) translateY(11px);
      background-color: #fff;
    }

    .hambuger.active .bar:nth-child(3) {
      transform: rotate(-45deg) translateY(-11px);
      background-color: #fff;
    }

    .nav-menu.active {
      left: 0;
    }

    .bar.active {
      left: 0;
    }

    #bdy-bg {
      z-index: 1;
    }
  }

  .wrapper-head h2 {
    font-size: 25px;
  }

  .wrapper-text .long-paragraph {
    font-size: 10px !important;
  }

  @media only screen and (min-width: 768px) {
    .work-image {
      display: none;
    }

    .project1 img {
      border-radius: 8px;
      width: 100%;
    }

    .topics img {
      transform: rotate(-90deg);
    }

    .work-image-large {
      display: flex;
      margin: 1%;
    }

    .work-image-large img {
      width: 100%;
      transition: all 0.5s ease;
    }

    .work-image-large img:hover {
      transform: scale(1.09);
    }

    .lan-container ul {
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      color: #253858;
      list-style: none;
    }

    .work-details {
      width: 50%;
    }

    .work-details h2 {
      width: 80%;
    }

    .work-description {
      width: 90%;
    }

    .button-margin {
      display: flex;
      justify-content: center;
      transition: all 0.5s ease;
    }

    .ln span {
      display: flex;
      justify-content: space-between;
    }

    .contact-header span {
      font-size: 40px;
      line-height: 52px;
      font-weight: 700;
    }

    .mdl-fullscreen .mdl-text span {
      margin-right: 10px;
      background: var(--language);
      border-radius: 10px;
      color: #6070ff;
      padding: 2px 6px;
      font-size: 12px;
    }

    .mdl-fullscreen {
      display: grid;
      height: 110%;
      align-items: end;
    }

    .mdl-fullscreen .work-image-large {
      grid-column-start: 1;
      grid-column-end: 3;
      width: 60%;
      margin: 1% auto;
    }

    .mdl-fullscreen .work-image-large img:hover {
      transform: none;
    }

    .mdl-fullscreen .mdl-text {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 10px;
      font-size: 13px;
      margin-top: -1.5em;
    }

    .mdl-fullscreen .mdl-text .left-grid {
      color: var(--paragraph);
      grid-column-start: 1;
      grid-column-end: 2;
      padding: 0 0.5em 0 1em;
      font-size: 10px;
    }

    .mdl-fullscreen .mdl-text .right-grid {
      grid-column-start: 2;
      grid-column-end: 3;
      text-align: left;
      padding-top: 1em;
    }

    .mdl-fullscreen .mdl-text button {
      padding: 1em;
      background: transparent;
      border: 1px solid #6070ff;
      border-radius: 5px;
      color: #6070ff;
      font-size: 12px;
      width: 40%;
      margin-right: 10px;
      margin-top: 1%;
      padding-left: 0;
      padding-top: 7px;
      padding-bottom: 7px;
      cursor: pointer;
    }

    .mdl-fullscreen .mdl-text .btnB {
      background-image: url(./source.png);
      background-repeat: no-repeat;
      background-position-x: 95%;
      background-position-y: center;
      margin-right: 0;
    }

    .wrapper .wrapper-text,
    .wrapper .wrapper-btns,
    .wrapper .wrapper-img {
      display: none;
    }
  }
}

.mdl-fullscreen .mdl-text .right-grid p {
  padding-bottom: 8px;
}

.hr2 {
  width: 90%;
  border: none;
  border-bottom: 1px solid #ebecf0;
  margin: 5px 0;
}

.mdl-fullscreen .mdl-text .btnA {
  background-image: url(./live.png);
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}
