* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'poppins'sans-serif;
  font-size: 15px;
}

body {
  background-color: rgb(247, 247, 249);
}

li {
  list-style: none;
}

.container {
  display: grid;
  width: 100vw;
  grid: 1fr;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  margin: 0;
  gap: 142px;
}

.top-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  min-height: 70px;
  background: white;
}

.nav-menu {
  display: none;
}

.nav-branding {
  font-size: 1.5rem;
  color: #6070ff;
}

.nav-link {
  transition: all 0.5s ease;
}

.hambuger {
  display: block;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #6070ff;
}

.contain1 {
  margin-left: 32em;
}

.headline {
  display: flex;
  justify-content: space-between;
  padding: 13px 20px;
  background-color: white;
}

.home-link {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.nav-icon {
  height: 17px;
}

header > .logo {
  font-size: 18px;
}

.primary-text {
  margin: 206px 0 20px 20px;
  height: 80px;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  line-height: 45px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 3vh;
  text-transform: uppercase;
  background-image:
    linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip { to { background-position: 200% center; } }
.img-post:hover { transform: scale(1.07); }

.phar {
  padding-left: 15px;
  margin: 12px 0 20px 15px;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-align: left;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  width: auto;
  height: 146px;
}

.letsconnect {
  margin-left: 25px;
  align-items: flex-start;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color:#1A30FF;
  margin-top: 15px;
}

.socialmedia-list {
  margin-top: 15px;
  padding-left: 25px;
  list-style-type: none;
  display: flex;
  gap: 24px;
}

.socialmedia {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.socials {
  display: flex;
  justify-content: space-between;
  max-width: 50%;
}

.homepage {
  height: 718px;
  background-image: url(./images/background.png);
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 0 0 0 90px;
  padding: 100px 20px 0 20;
  background-color: white;
}

.works1,
.works2,
.works3,
.works4,
.works-temp1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 1px #dfe1e6;
  border-radius: 15px;
  background-color: #fff;
  grid-row-start: 1;
  padding: 18px;
  margin-top: 142px;
}

.works2 {
  grid-row-start: 2;
}

.works3 {
  grid-row-start: 3;
}

.works4 {
  grid-row-start: 4;
}

.works-info1,
.works-info2,
.works-info3,
.works-info4 {
  flex: 1;
  margin: 5px;
}

.works-info1,
.works-info3 {
  margin-left: 20px;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
  background: #fff;
  border-radius: 0 50px 0 0;
  padding: 100px 10px 200px 10px;
}

.pic-temp1 {
  flex: 1;
  margin: 5px;
  width: 100%;
  height: 100%;
}

.tonic {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-left: 10px;
  margin-top: 0;
}

.work-info {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 20px;
  margin-left: 10px;
  margin-top: 0;
}

.canopy {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  margin-right: 10px;
}

.back-end-dev {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color:#4F5969;
  margin-right: 10px;
}

.proj-info {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-left: 10px;
  margin-top: 0;
}

.prog-lang {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0 0;
  padding: 0;
}

.lang-styles {
  font-family: 'poppins'sans-serif;
  background: #ebebff;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #0019FA;
  padding: 5px 15px;
  margin: 10px 20px 0 0;
}

.front-styles {
  margin-top: 5px;
  width: 100%;
  padding: 10px;
  background: #f7f7f9;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.btn {
  font-size: 20px;
  border: solid 1px #6070ff;
  color: #1A30FF;
  border-radius: 10px;
  margin: 30px 0 0 15px;
  padding: 12px;
  padding-left: 30px;
  background-color: #fff;
  width: fit-content;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.btn:hover {
  background-color: #6070ff;
  color: white;
}

.btn:focus {
  background-color: #2230d2;
  color: white;
}

.about-my-self {
  padding-left: 25px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
}

.contact-me {
  padding-left: 25px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: 0;
}

.tech-professional-skills {
  width: 100%;
}

.lang {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.front-lang {
  display: flex;
  list-style-type: none;
  flex-direction: column;
}

.frame-works {
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.frames {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.frames-v1 {
  display: flex;
  margin: 30px 0;
  justify-content: space-between;
}

.pic-elp {
  margin-right: 12px;
}

.separate-bar {
  width: 100%;
}

.skills-toggle {
  margin: 8px 0 12px;
}

.contact-form {
  background-image: url(./images/background2.png);
  background-color: #6070ff;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: right;
  background-position-y: 70px;
  border-radius: 90px 0 0 0;
  padding-top: 200px;
}

.background-style {
  background-color: white;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.contact-title {
  font-size: 40px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}

.p-contact {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #0000;
  margin: 20px 0 50px 0;
  background-color: #9999;
}

.inp-form {
  width: 100%;
  height: 43px;
  margin-bottom: 20px;
  border-radius: 8px;
  font-size: 17px;
  border: none;
  color: #172b4d;
  padding: 10px 15px;
}

.text-area {
  width: 100%;
  height: 160px;
  margin-bottom: 20px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 10px 15px;
}

.contact-bar {
  text-align: center;
}

.btncontact {
  width: 100px;
  height: 48px;
  color: #1A30FF;
  align-self: flex-start;
  border-radius: 8px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  background-color: white;
}

.btncontact:hover {
  background-color: #6070ff;
  border: 1px solid white;
  color: white;
  font-size: 17px;
  transition: 100ms;
  cursor: pointer;
}

.end-line {
  margin-top: 50px;
  margin-bottom: 10px;
}

.socialmedia-list img {
  height: 20px;
  width: 20px;
}

.full-name {
  padding-bottom: 15px;
  font-weight: 600;
  font-family: sans-serif;
}

@media (min-width: 768px) {
  .homepage {
    padding: 50px 30px 100px 30px;
    height: 100vh;
    margin: 0 auto;
    background: white;
    border-radius: 0 0 0 50px;
    background-size: 100%;
    display: flex;
    justify-content: center;
  }

  header {
    background: white;
    padding: 0 140px;
  }

  .hambuger {
    display: none;
  }

  .primary-text {
    margin: 12px 0 20px 20px;
    height: 85px;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    line-height: 45px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 3vh;
    text-transform: uppercase;
    background-image:
      linear-gradient(
        -225deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
      );
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
  }

  .phar {
    margin: 50px 150px 20px 0;
  }

  .top-sec {
    display: flex;
    flex-direction: row;
  }

  .nav-menu {
    display: flex;
  }

  .nav-menu li {
    padding-left: 2rem;
  }

  .headtitle {
    padding: 50px 160px;
  }

  .headtitle-name {
    background-image: url("./images/background_1024.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .work-info {
    align-self: flex-start;
  }

  .prog-lang {
    align-self: flex-start;
  }

  .canopy {
    width: 75px;
    height: 24px;
    font-family: 'Poppins'sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .tonic {
    font-family: 'Poppins'sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .works1,
  .works2,
  .works3,
  .works4 {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .works2,
  .works4 {
    display: flex;
    flex-direction: row-reverse;
  }

  .about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .tech-professional-skills {
    width: 90%;
  }

  .front-lang {
    display: flex;
    flex-direction: row;
  }

  .front-styles {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px 5px;
  }

  .pic-elp {
    align-self: flex-start;
    margin-bottom: 10px;
    margin-left: 5px;
  }

  .name {
    align-self: flex-start;
  }

  footer {
    background-color: #fff;
  }

  .socials img {
    width: 20px;
    height: 20px;
  }

  .background-style {
    background: url("./images/desktop-contact.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    background-color: #6070ff;
    border-radius: 90px 0 0 0;
  }

  .contact-form {
    width: 500px;
    margin-bottom: 20px;
    background: none;
  }

  .contact-info {
    width: 500px;
    justify-content: center;
  }

  .btncontact {
    align-self: center;
  }

  .about-me .aboutme2 {
    align-items: center;
    margin-left: 60px;
  }

  .end-line {
    display: none;
  }
}
