@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 24px;
  width: 100%;
  height: auto;
  font-family: 'Poppins', sans-serif;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  padding: 26px 24px;
  font-family: 'Poppins', sans-serif;
}

.logo a {
  text-decoration: none;
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  height: 12px;
}

.icon {
  background-color: #6070ff;
  width: 16px;
  height: 2px;
  border-radius: 2px;
  text-decoration: none;
}

.home {
  flex-direction: column;
  gap: 12px;
  font-family: 'Poppins', sans-serif;
  background-image: url(./img/bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 24px;
  height: 588px;
}

ul {
  list-style: none;
}

.main-header {
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #172b4d;
  font-weight: 700;
  padding-top: 128px;
}

.description {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #344563;
  line-height: 24px;
}

.contacts {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;
}

.con-header {
  color: #7f8cff;
  font-size: 16px;
}

.contact-icons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 19px;
}
#sections{F
  margin:auto;
  grid-template-columns: 1fr;
  background-color: blue;
}
.section1{
  width: 324px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  align-items: flex-start;
  
 
}

.topsect{
  display:flex;
  align-self: flex-start;
  
  
}

.body{
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

#pj1-h2 {
  align-self: flex-start; 
  font-weight: 1000;
  font-family: 'Poppins', sans-serif;

  
}

.topsect p {
  margin: 0 8px;
  color: grey;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  
  
}
.tech{
  list-style:none;
  align-self: flex-start;
  color:#396DF2;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;

}

.tech li{
  background-color: #ebebff;
  display:inline-block;
  padding:4px;
  border-radius:10px

}

.project{
  border: 1px solid #DFE1E6;
  border-radius: 10px;
  border-color: #396DF2;
  display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.03em;
flex: none;
order: 0;
flex-grow: 0;
padding:12px;
color: #396DF2;
align-self: flex-start;
font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;

}

.About{
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Poppins', sans-serif;
  align-self: flex-start; 
  justify-content: flex-start;

}
.page{
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;

}

.resume{
  border: 1px solid #DFE1E6;
  border-radius: 10px;
  border-color: #396DF2;
  text-align: center;
  padding:12px;
  color: #396DF2;
  height: 30px;
  width: 150px;
  left: 0px;
  top: 361px;
  padding-right: 3px;

}

.skills {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: auto;
  padding: 0;
  padding-bottom: 13rem;
}

.skills .active {
  font-family: "poppins", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.4rem;
  letter-spacing: 0;
  text-align: left;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 3.6rem;
}


.inactive {
  margin-left: 20px ;
  margin-right: 20px;
  padding-bottom: 3.6rem;
}

.framework1{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.lang{
  justify-content: flex-start;
  padding:12px;
  height: 30px;
  width: 150px;
  left: 0px;
  top: 361px;
  padding-right: 3px;

}

.skills .inactive {
  border-bottom: 2px solid rgba(223, 225, 230, 1);
  padding: 1.5rem 0 1.5rem 2rem;
  font-family: "poppins", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.4rem;
  letter-spacing: 0;
  text-align: left;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.frameworks-alt {
  
  justify-content: flex-start;
  margin-right:20px;
  display: grid;
  padding-left: 8px;
  height: 23.6rem;
  justify-content: space-between;
}

.frameworks-alt li{
  width: 303px;
  height: 66.72px;
  list-style-type: none;
  padding: 8px;
  align-self: center;
  width: 400px;
  margin-bottom: 10px;
  background-color: #F7F7F9;
  border-radius: 8px;
}
.droplist-alt{
  margin: 0 10px  0 20px;
  padding: 0;

}

.droplist-alt span{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  padding-left: 16px;
}
.dropdown{
  display:flex;
}
.dropup{
  border-radius: 50%;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;

}
.dropup p{
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;

}
.flex{
  display:flex;
  gap:0px;
  align-items: center;
 
}