:root {
  --white: white;
  --logo: #6070ff;
  --span: #7a869a;
  --dot: #c1c7d0;
  --border: #dfe1e6;
  --border2: #cfd8dc;
  --language: #ebebff;
  --black: #000;
  --list: #253858;
  --arrow: #acb7c3;
  --textarea: #b3bac5;
  --overlay: rgba(96, 112, 255, 0.3);
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  margin: auto;
  background-color: #f7f7f9;
}

.works-section {
  display: grid;
  grid-template-columns: 100%;
  margin-top: 120px;
}

.work-image {
  width: 90%;
  margin: 0 auto;
  margin-top: 4%;
}

.work-image img {
  width: 100%;
}

.work-image-large {
  display: none;
}

.work-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-left: 5%;
}

.work-details h2 {
  width: 70%;
  font-size: 32px;
  font-weight: 700;
  color: #172b4d;
}

.work-subtext {
  font-size: 13px;
  font-weight: 600;
  color: var(--paragraph);
}

.work-subtext .description,
.work-subtext .description2 {
  font-size: 13px;
  font-weight: 600;
  color: var(--span);
  margin-left: 12px;
}

.work-subtext .dot {
  height: 10px;
  width: 10px;
  background-color: var(--dot);
  border-radius: 50%;
  display: inline-flex;
  margin-left: 12px;
}

.work-description {
  font-size: 15px;
  font-weight: 400;
  color: var(--paragraph);
  margin-top: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--overlay);
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay .wrapper {
  position: relative;
  width: 90%;
  height: 95%;
  background: white;
  border-radius: 8px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-rows: 2fr 2fr 2fr 2fr 2fr 1fr;
  box-sizing: border-box;
  align-items: center;
}

.wrapper .wrapper-head {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0.5em 1em 0;
  align-items: center;
  margin-top: -0.8em;
}

.wrapper-head h2 {
  font-size: 18px !important;
  font-weight: 700;
  color: #172b4d;
}

.wrapper .wrapper-sub-head {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10px;
  padding-left: 1em;
}

.close-btn {
  color: #67798e;
  font-size: 2em;
  text-align: right;
  cursor: pointer;
}

.wrapper .wrapper-img {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: auto;
  margin-right: auto;
}

.wrapper .wrapper-img .work-image {
  width: 90%;
  margin: 0 auto;
  margin-top: 5%;
}

.wrapper .wrapper-text {
  padding-left: 1em;
  padding-right: 1em;
}

.wrapper .wrapper-text .long-paragraph {
  font-size: 12px;
  margin-bottom: 10px;
  color: var(--paragraph);
  text-align: justify;
  width: 100%;
}

.wrapper .wrapper-text span {
  margin-right: 10px;
  padding: 5px;
  background: var(--language);
  border-radius: 4px;
  color: #6070ff;
  font-size: 12px;
}

.wrapper .wrapper-text hr {
  border: none;
  border-bottom: 1px solid #ebecf0;
  margin-top: 10px;
}

.wrapper .wrapper-btns {
  display: flex;
  justify-content: center;
}

.wrapper .wrapper-btns button {
  margin: 10px 1em 0;
  padding: 1em;
  padding-right: 2.3em;
  background: transparent;
  text-decoration: none;
  border: 1px solid #6070ff;
  border-radius: 8px;
  color: #6070ff;
  font-size: 12px;
  text-align: left;
}

.wrapper .wrapper-btns .btnA {
  background-image: url(./live.png);
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}

.wrapper .wrapper-btns .btnB {
  background-image: url(./source.png);
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}

.wrapper .wrapper-btns i {
  font-size: 12px;
}

.mdl-fullscreen {
  display: none;
}

#close i {
  color: white;
  float: right;
  padding: 1.5em;
  font-size: 28px;
}
